@using HotFlix.Domain.Models
@model ICollection<Movie>
<div class="splide__track">
	<ul class="splide__list">
		@foreach (var movie in Model)
		{
			<li class="splide__slide">
				<div class="item item--hero">
					<div class="item__cover">
						<img src="~/assets/img/covers/@movie.Image" alt="">
						<a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id" class="item__play">
							<i class="ti ti-player-play-filled"></i>
						</a>
						<span class="item__rate item__rate--green">@movie.Rating</span>
						<a asp-controller="profile" asp-action="addmovie" asp-route-id="@movie.Id" class="item__favorite" type="button"><i class="ti ti-bookmark"></i></a>
					</div>
					<div class="item__content">
						<h3 class="item__title"><a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id">@movie.Name</a></h3>
						<span class="item__category">
							@foreach(var tag in Model.FirstOrDefault(m=>m.Id==movie.Id).MovieTags){
								<a href="#">@tag.Tag.Name</a>
							}
						</span>
					</div>
					
				</div>
			</li>
		}

	</ul>
</div>
