@using HotFlix.Domain.Enums
@using HotFlix.Domain.Models
@model CatalogVM
<!-- page title -->
<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h1 class="section__title section__title--head">Catalog</h1>
					<!-- end section title -->
					<!-- breadcrumbs -->
					<ul class="breadcrumbs">
						<li class="breadcrumbs__item"><a asp-controller="home" asp-action="index">Home</a></li>
						<li class="breadcrumbs__item breadcrumbs__item--active">Catalog</li>
					</ul>
					<!-- end breadcrumbs -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->
<!-- filter -->
<div class="filter">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="filter__content">
					<!-- menu btn -->
					<button class="filter__menu" type="button"><i class="ti ti-filter"></i>Filter</button>
					<!-- end menu btn -->
					<!-- filter desk -->
					<div class="filter__items">

						<form asp-action="index" asp-route-tagid="@Model.TagId" asp-route-timekey="@Model.TimeKey" asp-route-ratingkey="@Model.RatingKey">
							<select class="filter__select" onchange="this.form.submit()" asp-for="CategoryId" id="filter__genre"
									asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
								<option selected disabled value="">All Categories</option>
							</select>
						</form>
						<br>
						<br>
						<form asp-action="index" asp-route-categoryid="@Model.CategoryId" asp-route-timekey="@Model.TimeKey" asp-route-ratingkey="@Model.RatingKey">
							<select class="filter__select" onchange="this.form.submit()" asp-for="TagId" id="filter__quality"
									asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))">
								<option selected disabled value="">All Genres</option>
							</select>
						</form>


						<form asp-action="index" asp-route-categoryid="@Model.CategoryId" asp-route-tagid="@Model.TagId" asp-route-timekey="@Model.TimeKey">
							<select class="filter__select" onchange="this.form.submit()" name="ratingkey" id="filter__rate">

								@foreach (var sort in Enum.GetValues(typeof(RatingSort)))
								{
									if (Model.RatingKey == (int)sort)
									{
										<option selected value="@((int)sort)">From @sort.ToString()</option>
									}
									else
									{
										<option value="@((int)sort)">From @sort.ToString()</option>
									}
								}
								<option selected disabled value="">Any Ratings</option>
							</select>
						</form>
						<br>
						<br>
						<form asp-action="index" asp-route-categoryid="@Model.CategoryId" asp-route-tagid="@Model.TagId" asp-route-ratingkey="@Model.RatingKey">
							<select class="filter__select" onchange="this.form.submit()" name="timekey" id="filter__sort">
								@foreach (var sort in Enum.GetValues(typeof(TimeSort)))
								{
									if (Model.TimeKey == (int)sort)
									{
										<option selected value="@((int)sort)">Sort @sort.ToString()</option>
									}
									else
									{
										<option value="@((int)sort)">Sort @sort.ToString()</option>
									}
								}
								<option selected disabled value="">Relevance</option>
							</select>
						</form>


					</div>
					<!-- end filter desk -->
					<!-- filter btn -->
					<button class="filter__btn" asp-action="index" asp-route-categoryId="@Model.CategoryId" asp-route-tagId="@Model.TagId"
					asp-route-ratingkey="@Model.RatingKey" asp-route-timekey="@Model.TimeKey"
					type="submit">Apply</button>
					<!-- end filter btn -->
					<!-- amount -->
					<span class="filter__amount">Showing 18 of 1713</span>
					<!-- end amount -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end filter -->
<!-- catalog -->
<div class="section section--catalog">
	<div class="container">
		<div class="row">
			@foreach (var movie in Model.Movies)
			{
				<!-- item -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="item">
						<div class="item__cover">
							<img src="~/assets/img/covers/@movie.Image" alt="">
							<a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id" class="item__play">
								<i class="ti ti-player-play-filled"></i>
							</a>
							<span class="item__rate item__rate--green">@movie.Rating</span>
							<a asp-controller="profile" asp-action="addmovie" asp-route-id="@movie.Id" class="item__favorite" type="button"><i class="ti ti-bookmark"></i></a>
						</div>
						<div class="item__content">
							<h3 class="item__title"><a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id">@movie.Name</a></h3>
						</div>
					</div>
				</div>
				<!-- end item -->
			}

		</div>

		<div class="row">
			<!-- paginator -->
			<div class="col-12">
				<!-- paginator mobile -->
				<div class="paginator-mob">
					<span class="paginator-mob__pages">18 of 1713</span>

					<ul class="paginator-mob__nav">
						<li>
							<a href="#">
								<i class="ti ti-chevron-left"></i>
								<span>Prev</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>Next</span>
								<i class="ti ti-chevron-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- end paginator mobile -->
				<!-- paginator desktop -->
				<ul class="paginator">
					<li class="paginator__item paginator__item--prev @(Model.CurrectPage<1?"disabled":"")">
						<a asp-route-page="@(Model.CurrectPage-1)"><i class="ti ti-chevron-left"></i></a>
					</li>
					@for(var i=0;i<Model.TotalPage;i++){
						<li class="paginator__item @(Model.CurrectPage==i+1?" active disabled":"")" >
							<a asp-route-page="@(i+1)">@(i+1)</a>
						</li>
					}
					<li class="paginator__item paginator__item--next  @(Model.CurrectPage==Model.TotalPage?"disabled":"")">
						<a asp-route-page="@(Model.CurrectPage+1)"><i class="ti ti-chevron-right"></i></a>
					</li>
				</ul>
				<!-- end paginator desktop -->
			</div>
			<!-- end paginator -->
		</div>
	</div>
</div>
<!-- end catalog -->
<!-- section -->
<section class="section section--border">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-12">
				<div class="section__title-wrap">
					<h2 class="section__title">Expected premiere</h2>
					<a asp-controller="catalog" asp-action="index" class="section__view section__view--carousel">View All</a>
				</div>
			</div>
			<!-- end section title -->
			<!-- carousel -->
			<div class="col-12">
				<div class="section__carousel splide splide--content">
					<div class="splide__arrows">
						<button class="splide__arrow splide__arrow--prev" type="button">
							<i class="ti ti-chevron-left"></i>
						</button>
						<button class="splide__arrow splide__arrow--next" type="button">
							<i class="ti ti-chevron-right"></i>
						</button>
					</div>
					@Html.Partial("MoviePartialView",Model.PremierMovies)
				</div>
			</div>
			<!-- end carousel -->
		</div>
	</div>
</section>
<!-- end section -->
<script>
	document.querySelector(".filter__select").addEventListener('click',function()
	{
		categoryId=document.getElementById('filter__genre').value;
		tagId=document.getElementById('filter__quality').value;
		ratingkey=document.getElementById('filter__rate').value;
		timekey=document.getElementById('filter__sort').value;

		url=`/Catalog/Index?categoryId=${categoryId}&tagId=${tagId}&ratingKey=${ratingKey}&timeKey=${timeKey}`;
			
	   window.location.href=url;
	});


</script>

<script>
 fetch(url, {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
			},
		})
			.then(response => {
				if (!response.ok) throw new Error('Network response was not ok');
				return response.text();
			})
			.then(html => {

				document.getElementById('results').innerHTML = html;
			})
			.catch(error => console.error('Error fetching data:', error));

</script>