
@model IEnumerable<GetDirectorDto>
@{
	int count = 0;
}
<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2>Directors</h2>

					<span class="main__title-stat">@Model.Count()</span>
				</div>
			</div>
			<div class="main__title-wrap">
				<a asp-controller="director" asp-action="create" class="main__title-link main__title-link--wrap">Add Director</a>
				<!-- end search -->
			</div>
			<!-- end main title -->
			<!-- items -->
			<div class="col-12">
				<div class="catalog catalog--1">
					<table class="catalog__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>NAME</th>
								<th>Movie Count</th>
								<th>ACTIONS</th>
							</tr>
						</thead>


						@foreach (var director in Model)
						{
							count++;
							<tbody>
								<tr>
									<td>
										<div class="catalog__text">@count</div>
									</td>
									<td>
										<div class="catalog__text"><a href="#">@director.Name</a></div>
									</td>
									<td>
										<div class="catalog__text"><a href="#">@director.MovieCount</a></div>
									</td>
									<td>
										<div class="catalog__btns">
											<a asp-controller="director" asp-action="update" asp-route-id="@director.Id" class="catalog__btn catalog__btn--edit">
												<i class="ti ti-edit"></i>
											</a>
											<a asp-controller="director" asp-action="delete" asp-route-id="@director.Id" class="catalog__btn catalog__btn--delete">
												<i class="ti ti-trash"></i>
											</a>
										</div>
									</td>
								</tr>
								<!-- delete modal -->
							</tbody>

						}


					</table>
				</div>
			</div>
			<!-- end items -->
			<!-- paginator -->
			<div class="col-12">
				<div class="main__paginator">
					<!-- amount -->
					<span class="main__paginator-pages">10 of 169</span>
					<!-- end amount -->

					<ul class="main__paginator-list">
						<li>
							<a href="#">
								<i class="ti ti-chevron-left"></i>
								<span>Prev</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>Next</span>
								<i class="ti ti-chevron-right"></i>
							</a>
						</li>
					</ul>

					<ul class="paginator">
						<li class="paginator__item paginator__item--prev">
							<a href="#"><i class="ti ti-chevron-left"></i></a>
						</li>
						<li class="paginator__item"><a href="#">1</a></li>
						<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
						<li class="paginator__item"><a href="#">3</a></li>
						<li class="paginator__item"><a href="#">4</a></li>
						<li class="paginator__item"><span>...</span></li>
						<li class="paginator__item"><a href="#">29</a></li>
						<li class="paginator__item"><a href="#">30</a></li>
						<li class="paginator__item paginator__item--next">
							<a href="#"><i class="ti ti-chevron-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end paginator -->
		</div>
	</div>
</main>
