@using System.Security.Claims
@using HotFlix.Domain.Models
@using Microsoft.AspNetCore.Identity
@model DetailVM
@inject UserManager<AppUser> usermeneger
@{
	var user = usermeneger.GetUserAsync(User).Result;
}
<!-- details -->
<section class="section section--details">
	<!-- details content -->
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<h1 class="section__title section__title--head">@Model.Movie.Name</h1>
			</div>
			<!-- end title -->
			<!-- content -->
			<div class="col-12 col-xl-6">
				<div class="item item--details">
					<div class="row">
						<!-- card cover -->
						<div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-6 col-xxl-5">
							<div class="item__cover">
								<img src="~/assets/img/covers/@Model.Movie.Image" alt="">
								<span class="item__rate item__rate--green">@Model.Movie.Rating</span>
								<button class="item__favorite item__favorite--static" type="button"><i class="ti ti-bookmark"></i></button>
							</div>
						</div>
						<!-- end card cover -->
						<!-- card content -->
						<div class="col-12 col-md-7 col-lg-8 col-xl-6 col-xxl-7">
							<div class="item__content">
								<ul class="item__meta">
									<li><span>Director:</span> <a href="#">@Model.Movie.Director.FullName</a></li>
									<li>
										<span>Actors:</span>
										@foreach (var actor in Model.Movie.MovieActors)
										{
											<a asp-controller="detail" asp-action="actor" asp-route-id="@actor.Actor.Id">@actor.Actor.FullName</a>
										}
									</li>
									<li>
										<span>Genre:</span>
										@foreach (var tag in Model.Movie.MovieTags)
										{
											<a href="#">@tag.Tag.Name</a>
										}

									</li>
									<li><span>Premiere::</span>@Model.Movie.Premiere</li>
									<li><span>Running time:</span> @Model.Movie.RunningTime</li>
									<li><span>Country:</span> <a href="#">@Model.Movie.Country.Name</a></li>
								</ul>

								<div class="item__description">
									<p>@Model.Movie.Description</p>

								</div>
							</div>
						</div>
						<!-- end card content -->
					</div>
				</div>
			</div>
			<!-- end content -->
			<!-- player -->
			<div class="col-12 col-xl-6">
				<div class="section__player">
					@if (Model.Movie.Category.Name == "TV Series")
					{
						<div>
							@if (User.Identity.IsAuthenticated)
							{
								@if (user.IsPremium == true)
								{
									<video controls autoplay width="715" height="410" id="player">
										<source src="~/assets/videos/@Model.Movie.VideoUrl" type="audio/mp4">
									</video>
								}
								else
								{
									<video controls autoplay width="715" height="410" id="player">
										<source src="~/assets/videos/@Model.Movie.TrailerUrl" type="audio/mp4">
									</video>
								}
							}
							else
							{
								<video controls autoplay width="715" height="410" id="player">
									<source src="~/assets/videos/@Model.Movie.TrailerUrl" type="audio/mp4">
								</video>
							}
						</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div class="section__item-filter">
								<form>
									<select onchange="this.form.submit()" class="section__item-select" id="filter__season">
										@foreach (var serie in Model.Movie.Seasons.FirstOrDefault().SeasonVideos)
										{
											<option value="@serie.Id">Series @serie.SeriesNumber </option>
										}
									</select>
								</form>

								}
							</div>
						}
					}
					else
					{
						<div>
							@if (User.Identity.IsAuthenticated)
							{

								@if (user.IsPremium == true)
								{
									<video controls autoplay width="715" height="410" id="player">
										<source src="~/assets/videos/@Model.Movie.VideoUrl" type="audio/mp4">
									</video>
								}
								else
								{
									<video controls autoplay width="715" height="410" id="player">
										<source src="~/assets/videos/@Model.Movie.TrailerUrl" type="audio/mp4">
									</video>

								}
							}
							else{
								<video controls autoplay width="715" height="410" id="player">
									<source src="~/assets/videos/@Model.Movie.TrailerUrl" type="audio/mp4">
								</video>

							}
						</div>
					}

				</div>

				<!-- end player -->
			</div>
		</div>
		<!-- end details content -->
</section>
<!-- end details -->
<!-- content -->
<section class="content">
	<div class="content__head content__head--mt">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">Discover</h2>
					<!-- end content title -->
					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item" role="presentation">
							<button id="1-tab" class="active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">Comments</button>
						</li>

					</ul>
					<!-- end content tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8">
				<!-- content tabs -->
				<div class="tab-content">
					<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab" tabindex="0">
						<div class="row">
							<!-- comments -->
							<div class="col-12">
								<div class="comments">
									<ul class="comments__list">
										@foreach (var comment in Model.Comments)
										{
											<li class="comments__item">
												<div class="comments__autor">
													<img class="comments__avatar" src="~/assets/img/user.svg" alt="">
													<span class="comments__name">@comment.UserName</span>
													<span class="comments__time">@comment.CreatedAt</span>
												</div>
												<p class="comments__text">@comment.Description</p>
												<div class="comments__actions">
													<div class="comments__rate">
														<a asp-controller="detail" asp-action="likecomment" asp-route-id="@comment.Id" asp-route-movieid="@comment.MovieId">@comment.LikeCount<i class="ti ti-thumb-up"></i></a>
														<a asp-controller="detail" asp-action="dislikecomment" asp-route-id="@comment.Id" asp-route-movieid="@comment.MovieId">@comment.DislikeCount<i class="ti ti-thumb-down"></i></a>
													</div>
													<a asp-controller="detail" asp-action="delete" asp-route-id="@comment.Id" asp-route-movieid="@comment.MovieId"><i class="ti ti-quote"></i>Delete</a>
												</div>
											</li>
										}

									</ul>

									@if (Model.Comments.Count == 0)
									{
										<h4 style="text-align:center; color:white;">No Comments</h4>
									}

									@if (User.Identity.IsAuthenticated)
									{
										<form method="post" class="sign__form sign__form--comments" asp-action="addcomment" asp-controller="detail" asp-route-id="@Model.Movie.Id">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<div class="sign__group">
												<textarea asp-for="NewComment.Description" class="sign__textarea" placeholder="Add comment"></textarea>
												<span asp-validation-for="NewComment.Description" .Description" class="text-danger"></span>
											</div>
											<button type="submit" class="sign__btn sign__btn--small">Send</button>
										</form>
									}
									else
									{
										<div class="text-center p-2 text-white bg-black">For Adding Comments You Have To Login.<a asp-controller="account" asp-action="login">Sign In!</a></div>
									}
								</div>
							</div>
							<!-- end comments -->
						</div>
					</div>

					<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab" tabindex="0">
						<!-- project gallery -->
						<div class="gallery" itemscope>
							<div class="row">
								<!-- gallery item -->
								<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
									<a href="~/assets/img/gallery/project-1.jpg" itemprop="contentUrl" data-size="1920x1280">
										<img src="~/assets/img/gallery/project-1.jpg" itemprop="thumbnail" alt="Image description" />
									</a>
									<figcaption itemprop="caption description">Some image caption 1</figcaption>
								</figure>
								<!-- end gallery item -->
								<!-- gallery item -->
								<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
									<a href="~/assets/img/gallery/project-2.jpg" itemprop="contentUrl" data-size="1920x1280">
										<img src="~/assets/img/gallery/project-2.jpg" itemprop="thumbnail" alt="Image description" />
									</a>
									<figcaption itemprop="caption description">Some image caption 2</figcaption>
								</figure>
								<!-- end gallery item -->
								<!-- gallery item -->
								<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
									<a href="~/assets/img/gallery/project-3.jpg" itemprop="contentUrl" data-size="1920x1280">
										<img src="~/assets/img/gallery/project-3.jpg" itemprop="thumbnail" alt="Image description" />
									</a>
									<figcaption itemprop="caption description">Some image caption 3</figcaption>
								</figure>
								<!-- end gallery item -->
								<!-- gallery item -->
								<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
									<a href="~/assets/img/gallery/project-4.jpg" itemprop="contentUrl" data-size="1920x1280">
										<img src="~/assets/img/gallery/project-4.jpg" itemprop="thumbnail" alt="Image description" />
									</a>
									<figcaption itemprop="caption description">Some image caption 4</figcaption>
								</figure>
								<!-- end gallery item -->
								<!-- gallery item -->
								<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
									<a href="~/assets/img/gallery/project-5.jpg" itemprop="contentUrl" data-size="1920x1280">
										<img src="~/assets/img/gallery/project-5.jpg" itemprop="thumbnail" alt="Image description" />
									</a>
									<figcaption itemprop="caption description">Some image caption 5</figcaption>
								</figure>
								<!-- end gallery item -->
								<!-- gallery item -->
								<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
									<a href="~/assets/img/gallery/project-6.jpg" itemprop="contentUrl" data-size="1920x1280">
										<img src="~/assets/img/gallery/project-6.jpg" itemprop="thumbnail" alt="Image description" />
									</a>
									<figcaption itemprop="caption description">Some image caption 6</figcaption>
								</figure>
								<!-- end gallery item -->
							</div>
						</div>
						<!-- end project gallery -->
					</div>
				</div>
				<!-- end content tabs -->
			</div>

			<!-- sidebar -->
			<div class="col-12 col-lg-4">
				<div class="row">
					<!-- section title -->
					<div class="col-12">
						<h2 class="section__title section__title--sidebar">You may also like</h2>
					</div>
					<!-- end section title -->
					@foreach (var movie in Model.RelatedMovies)
					{
						<!-- item -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="item">
								<div class="item__cover">
									<img src="~/assets/img/covers/@movie.Image" alt="">
									<a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id" class="item__play">
										<i class="ti ti-player-play-filled"></i>
									</a>
									<span class="item__rate item__rate--green">@movie.Rating</span>
									<button class="item__favorite" type="button"><i class="ti ti-bookmark"></i></button>
								</div>
								<div class="item__content">
									<h3 class="item__title"><a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id">@movie.Name</a></h3>
									<span class="item__category">
										@foreach (var tag in Model.RelatedMovies.FirstOrDefault(m => m.Id == movie.Id).MovieTags)
										{
											<a href="#">@tag.Tag.Name</a>
										}

									</span>
								</div>
							</div>
						</div>
						<!-- end item -->
					}

				</div>
			</div>
			<!-- end sidebar -->
		</div>
	</div>
</section>
<!-- end content -->