@using HotFlix.Application.ViewModels
@using HotFlix.Domain.Enums
@model HomeVM	
<!-- home -->

<section class="home">
	<div class="container">
		<div class="row">
			<!-- home title -->
			<div class="col-12">
				<h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>
			</div>
			<!-- end home title -->
			<!-- home carousel -->
			<div class="col-12">
				<div class="home__carousel splide splide--home">
					<div class="splide__arrows">
						<button class="splide__arrow splide__arrow--prev" type="button">
							<i class="ti ti-chevron-left"></i>
						</button>
						<button class="splide__arrow splide__arrow--next" type="button">
							<i class="ti ti-chevron-right"></i>
						</button>
					</div>

					@Html.Partial("MoviePartialView",Model.NewMovies)
				</div>
			</div>
			<!-- end home carousel -->
		</div>
	</div>
</section>
<!-- end home -->
<!-- content -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">Recently updated</h2>
					<!-- end content title -->
					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item" role="presentation">
							<button id="1-tab" class="active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">All Movies </button>
						</li>

						<li class="nav-item" role="presentation">
							<button id="2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false">Movies</button>
						</li>

						<li class="nav-item" role="presentation">
							<button id="3-tab" data-bs-toggle="tab" data-bs-target="#tab-3" type="button" role="tab" aria-controls="tab-3" aria-selected="false">TV Series</button>
						</li>
					</ul>
					<!-- end content tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- content tabs -->
		<div class="tab-content">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab" tabindex="0">
				<div class="row">
					@foreach (var movie in Model.AllMovies)
					{
						<!-- item -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="item">
								<div class="item__cover">
									<img src="~/assets/img/covers/@movie.Image" alt="">
									<a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id" class="item__play">
										<i class="ti ti-player-play-filled"></i>
									</a>
									<span class="item__rate item__rate--green">@movie.Rating</span>
									<a asp-controller="profile"  asp-action="addmovie" asp-route-id="@movie.Id" class="item__favorite" ><i class="ti ti-bookmark"></i></a>
								</div>
								<div class="item__content">
									<h3 class="item__title"><a asp-controller="detail" asp-action="index" asp-route-id="@movie.Id">@movie.Name</a></h3>
									<span class="item__category">
										@foreach (var tag in Model.AllMovies.FirstOrDefault(m=>m.Id==movie.Id).MovieTags)
										{
											<a href="#">@tag.Tag.Name</a>
										}
									</span>
								</div>
							</div>
						</div>
						<!-- end item -->
					}

				</div>
			</div>

			<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab" tabindex="0">
				@await Component.InvokeAsync("Movie", SortType.Movie)
			</div>

			<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab" tabindex="0">
				@await Component.InvokeAsync("Movie", SortType.TVSeries)
			</div>
		</div>
		<!-- end content tabs -->

		<div class="row">
			<!-- more -->
			<div class="col-12">
				<a class="section__more" asp-controller="catalog" asp-action="index">View all</a>
			</div>
			<!-- end more -->
		</div>
	</div>
</section>
<!-- end content -->
<!-- section -->
<section class="section section--border">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-12">
				<div class="section__title-wrap">
					<h2 class="section__title">Expected premiere</h2>
					<a asp-controller="catalog" asp-action="index" class="section__view section__view--carousel">View All</a>
				</div>
			</div>
			<!-- end section title -->
			<!-- carousel -->
			<div class="col-12">
				<div class="section__carousel splide splide--content">
					<div class="splide__arrows">
						<button class="splide__arrow splide__arrow--prev" type="button">
							<i class="ti ti-chevron-left"></i>
						</button>
						<button class="splide__arrow splide__arrow--next" type="button">
							<i class="ti ti-chevron-right"></i>
						</button>
					</div>
					@Html.Partial("MoviePartialView", Model.ExpectedMovies)
				</div>
			</div>
			<!-- end carousel -->
		</div>
	</div>
</section>
<!-- end section -->
<!-- section -->
<section class="section section--border">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="section__title">Select your plan</h2>
			</div>
		</div>

		<div class="row">
			@foreach(var plan in Model.PremiumPlans){
				<!-- plan -->
				<div class="col-12 col-md-6 col-lg-4 order-md-3">
					<div class="plan plan--red">
						<h3 class="plan__title">@plan.PlanName</h3>
						<span class="plan__price">@plan.Price <sub>/ month</sub></span>
						<ul class="plan__list">
							<li class="plan__item"><i class="ti ti-circle-check"></i>@plan.Expires</li>
							<li class="plan__item"><i class="ti ti-circle-check"></i>@plan.Quality</li>
							<li class="plan__item"><i class="ti ti-circle-check"></i> Limited Availability</li>
							<li class="plan__item"><i class="ti ti-circle-check"></i> Any Device</li>
							<li class="plan__item"><i class="ti ti-circle-check"></i> 24/7 Support</li>
						</ul>
						<a class="plan__btn" asp-controller="pricing" asp-action="index" data-bs-target="#plan-modal">View More</a>
					</div>
				</div>
				<!-- end plan -->
			}
		</div>
	</div>
</section>
<!-- end section -->
<script>
			var btn=document.querySelectorAll(".item__favorite")

	btn.forEach(b=>{

		b.addEventListener("click",function(e){

		  e.preventDefault()

		 var endpoint=this.getAttribute("href")

		 $.ajax({
			 type:"GET",
			 url:endpoint
		 }).done(data=>{

			 var cart=document.querySelector("#favorite_movie")
			 cart.innerHTML=data

</script>
